.example-spacer {
    flex: 1 1 auto;
  }

head{
  background-color: gainsboro;
}

app-board{
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: gainsboro;
}   